:root {
  --shadow-xsmall: box-shadow: 0px 1px 2px 0px #1018280D;  
  --shadow-small: box-shadow: 0px 1px 3px 0px #1018281A;
  --shadow-medium: box-shadow: 0px 4px 8px -2px #1018281A;
  --shadow-large: box-shadow: 0px 12px 16px -4px #1018281A;
  --shadow-xlarge: box-shadow: 0px 20px 24px -4px #1018281A;
  --shadow-xxlarge: box-shadow: 0px 24px 48px -12px #10182840;
}