/* Headings */
.heading-large {
  font-family: Inter;
  font-size: 52px;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: -0.02em;
  text-align: left;
}

.heading-small {
  font-family: Inter;
  font-size: 44px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: -0.02em;
  text-align: left;
}

.heading-h1 {
  font-family: Inter;
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: -0.02em;
  text-align: left;
}

.heading-h2 {
  font-family: Inter;
  font-size: 36px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.02em;
  text-align: left;
}

.heading-h3 {
  font-family: Inter;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -0.02em;
  text-align: left;
}

.heading-h4 {
  font-family: Inter;
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: -0.02em;
  text-align: left;
}

.heading-h5 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.02em;
  text-align: left;
}

.heading-h6 {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.02em;
  text-align: left;
}

@media (max-width: 768px) {
  .heading-h1 {
    font-family: Inter;
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -0.02em;
    text-align: left;
  }
  
  .heading-h2 {
    font-family: Inter;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -0.02em;
    text-align: left;
  }
  
  .heading-h3 {
    font-family: Inter;
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: -0.02em;
    text-align: left;
  }
  
  .heading-h4 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-align: left;
  }
  
  .heading-h5 {
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.02em;
    text-align: left;
  }
  
  .heading-h6 {
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: left;
  }
}

/* Paragraphs */
.paragraph-large {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.paragraph-medium {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.paragraph-small {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.paragraph-xsmall {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

/* Overline */
.overline {
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: left;
}