/*
TOC
---------
Variables
Styles
Cover
Size modifier
Positioning
Shadow
Sizing
Section Background Colors
Pre-fit Spacing
Spacing
Padding Force Values
Grid
Offset Classes
M Queries
Spacing

*/

/****************************************************
 * Variables
 ****************************************************/

:root {
 
    /* Text Size */

    --text-size-ac: 78px;
    --text-size-h1: 54px;
    --text-size-h2: 42px;
    --text-size-h3: 32px;
    --text-size-h4: 30px;
    --text-size-h5: 30px;
    --text-size-h6: 25px;
    --text-size-pa: 18px;

    --text-size-mobile-ac: 60px;
    --text-size-mobile-h1: 42px;
    --text-size-mobile-h2: 32px;
    --text-size-mobile-h3: 30px;
    --text-size-mobile-h4: 30px;
    --text-size-mobile-h5: 25px;
    --text-size-mobile-h6: 20px;
    --text-size-mobile-pa: 18px;

    --text-lineheight-ac: 83px;
    --text-lineheight-h1: 62px;
    --text-lineheight-h2: 50px;
    --text-lineheight-h3: 36px;
    --text-lineheight-h4: ;
    --text-lineheight-h5: 30px;
    --text-lineheight-h6: 25px;
    --text-lineheight-pa: 27px;

    --text-letterspace-ac: -0.8px;
    --text-letterspace-h1: -0.8px;
    --text-letterspace-h2: -0.4px;
    --text-letterspace-h3: -0.3px;
    --text-letterspace-h4: -0.2px;
    --text-letterspace-h5: 0px;
    --text-letterspace-h6: 0px;
    --text-letterspace-pa: 0px;

    --text-fontstyle-ac: italic;
    --text-fontstyle-h1: italic;
    --text-fontstyle-h2: italic;
    --text-fontstyle-h3: italic;
    --text-fontstyle-h4: italic;
    --text-fontstyle-h5: normal;
    --text-fontstyle-h6: normal;
    --text-fontstyle-pa: normal;


    /* Fonts */
    --text-font-fam-ac: 'Lora', serif;
    --text-font-fam-h1: 'Lora', serif;
    --text-font-fam-h2: 'Lora', serif;
    --text-font-fam-h3: 'Lora', serif;
    --text-font-fam-h4: 'Lora', serif;
    --text-font-fam-h5: 'Source Sans Pro', sans-serif;
    --text-font-fam-h6: 'Lora', serif;
    --text-font-fam-pa: 'Source Sans Pro', sans-serif;


    /* Button Styles */
    --btn-default-bg: #2B2B2B;
    --btn-default-text: #FFFFFF;
    --btn-default-border: #2B2B2B;
    --btn-default-h-bg: #4E4E4E;
    --btn-default-h-text: #FFFFFF;
    --btn-default-h-border: #FFFFFF;


    --btn-primary-bg: green;
    --btn-primary-text: #FFFFFF;
    --btn-primary-border: green;
    --btn-primary-h-bg: green;
    --btn-primary-h-text: white;
    --btn-primary-h-border: green;


    --btn-secondary-bg: red;
    --btn-secondary-text: #FFFFFF;
    --btn-secondary-border: red;
    --btn-secondary-h-bg: red;
    --btn-secondary-h-text: white;
    --btn-secondary-h-border: red;


    --btn-light-bg: white;
    --btn-light-text: #121212;
    --btn-light-border: #121212;
    --btn-light-h-bg: #F2F5F7;
    --btn-light-h-text: #2B2B2B;
    --btn-light-h-border: #2B2B2B;

    /* Border Radius */
    --border-radius-0 : 0;
    --border-radius-1 : 3px;
    --border-radius-2 : 6px;
    --border-radius-3 : 9px;
    --border-radius-4 : 15px;
    --border-radius-5 : 20px;
    --border-radius-6 : 30px;
    --border-radius-7 : 40px;
    --border-radius-8 : 50px;


    /* Section Background */
    --section-background-t : rgba(255,255,255,0);
    --section-background-1 : white;
    --section-background-2 : #F2F5F7;
    --section-background-3 : #2B2B2B;
    --section-background-4 : white;
    --section-background-5 : white;
    --section-background-6 : white;
    --section-background-7 : white;
    --section-background-8 : white;


}

/****************************************************
 * Styles
 ****************************************************/

/**
    Text
*/

.lhl_f12{
    font-size: 12px;
}
.lhl_f16{
    font-size: 16px;
}
.lhl_f22{
    font-size: 22px;
}
.lhl_f26{
    font-size: 26px;
}
.lhl_f32{
    font-size: 32px;
}
.lhl_primary_color{
    color: var(--primary);
}
.lhl_uppercase{
    text-transform: uppercase;
}



.lhl-component .accent_text,
.lhl-component .lhl_accent_text{
    font-size: var(--text-size-ac);
    font-family: var(--text-font-fam-ac);
    letter-spacing: var(--text-letterspace-ac);
    font-style: var(--text-fontstyle-ac);
}
.lhl-component h1,
.lhl-component .h1,
.lhl-component .lhl_h1{
    font-size: var(--text-size-h1);
    font-family: var(--text-font-fam-h1);
    letter-spacing: var(--text-letterspace-h1);
    font-style: var(--text-fontstyle-h1);
}
.lhl-component h2,
.lhl-component .h2,
.lhl-component .lhl_h2{
    font-size: var(--text-size-h2);
    font-family: var(--text-font-fam-h2);
    letter-spacing: var(--text-letterspace-h2);
    font-style: var(--text-fontstyle-h2);
}
.lhl-component h3,
.lhl-component .h3,
.lhl-component .lhl_h3{
    font-size: var(--text-size-h3);
    font-family: var(--text-font-fam-h3);
    letter-spacing: var(--text-letterspace-h3);
    font-style: var(--text-fontstyle-h3);
}
.lhl-component h4,
.lhl-component .h4,
.lhl-component .lhl_h4{
    font-size: var(--text-size-h4);
    font-family: var(--text-font-fam-h4);
    letter-spacing: var(--text-letterspace-h4);
    font-style: var(--text-fontstyle-h4);
}
.lhl-component h5,
.lhl-component .h5,
.lhl-component .lhl_h5{
    font-size: var(--text-size-h5);
    font-family: var(--text-font-fam-h5);
    letter-spacing: var(--text-letterspace-h5);
    font-style: var(--text-fontstyle-h5);
}
.lhl-component h6,
.lhl-component .h6,
.lhl-component .lhl_h6{
    font-size: var(--text-size-h6);
    font-family: var(--text-font-fam-h6);
    letter-spacing: var(--text-letterspace-h6);
    font-style: var(--text-fontstyle-h6);
}

.lhl-component p,
.lhl-component .p, 
.lhl-component .lhl_p{
    font-size: var(--text-size-pa);
    font-family: var(--text-font-fam-pa);
    letter-spacing: var(--text-letterspace-pa);
    font-style: var(--text-fontstyle-pa);
}



/**
* Text Alignment
*/
.lhl-text-center{
    text-align: center;
}

/**
* Border Radius
*/

.lhl_border_radius_1{
    border-radius: var(--border-radius-1);
}
.lhl_border_radius_2{
    border-radius: var(--border-radius-2);
}
.lhl_border_radius_3{
    border-radius: var(--border-radius-3);
}
.lhl_border_radius_4{
    border-radius: var(--border-radius-4);
}
.lhl_border_radius_5{
    border-radius: var(--border-radius-5);
}
.lhl_border_radius_6{
    border-radius: var(--border-radius-6);
}
.lhl_border_radius_7{
    border-radius: var(--border-radius-7);
}
.lhl_border_radius_8{
    border-radius: var(--border-radius-8);
}



/**
    Link
*/

/* X Small */
.lhl_link_size_x_small{
    font-size: 12px;
    color: var(--btn-default-bg);
}
.lhl_link_size_x_small span{
    padding: 3px 9px;
}
.lhl_link_size_x_small span svg{
    height: 8px;
    transform: translateY(-3px);
}
.lhl_link_size_x_small .lhl_link_icon.stroke_color svg path{
    stroke : var(--btn-default-bg);
}
.lhl_link_size_x_small .lhl_link_icon.fill_color svg path{
    fill : var(--btn-default-bg);
}
.lhl_link_size_x_small:hover{
    color: var(--primary);
}
.lhl_link_size_x_small:hover .lhl_link_icon.fill_color svg path{
    fill: var(--primary);
}
.lhl_link_size_x_small:focus,
.lhl_link_size_x_small:active{
    color: #8C2B0D;
}
.lhl_link_size_x_small:focus .lhl_link_icon.fill_color svg path,
.lhl_link_size_x_small:active .lhl_link_icon.fill_color svg path{
    fill: #8C2B0D;
}

/* Small */
.lhl_link_size_small{
    font-size: 14px;
    color: var(--btn-default-bg);
}
.lhl_link_size_small span svg{
    height: 8px;
}
.lhl_link_size_small .lhl_link_icon.stroke_color svg path{
    stroke : var(--btn-default-bg);
}
.lhl_link_size_small .lhl_link_icon.fill_color svg path{
    fill : var(--btn-default-bg);
}
.lhl_link_size_small:hover{
    color: var(--primary);
}
.lhl_link_size_small:focus,
.lhl_link_size_small:active{
    color: #8C2B0D;
}



/* Large */
.lhl_link_size_large{
    font-size: 16px;
    color: var(--primary);
}
.lhl_link_size_large span svg{
    transform: translateY(-1px);
}
.lhl_link_size_large .lhl_link_icon.stroke_color svg path{
    stroke : var(--primary);
}
.lhl_link_size_large .lhl_link_icon.fill_color svg path{
    fill : var(--primary);
}
.lhl_link_size_large:hover{
    color: var(--primary);
}
.lhl_link_size_large:focus,
.lhl_link_size_large:active{
    color: #8C2B0D;
}



/**
    Buttons
*/

.lhl_button{
    font-size: 14px;
    border: 1px solid var(--btn-default-bg);
    border-radius: 3px;
    color: white;
    background: var(--btn-default-bg);
    padding: 10px 19px;
    min-width: 140px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

/**
    Button Color
*/

a.lhl_button.lhl_button_color_default{
    background-color: var(--btn-default-bg);
    border-color: var(--btn-default);
    color: var(--btn-default-text);
}
a.lhl_button.lhl_button_color_default:hover{
    background-color: var(--btn-default-h-bg);
    border-color: var(--btn-default-h);
    color: var(--btn-default-h-text);
}
a.lhl_button.lhl_button_color_default:focus,
a.lhl_button.lhl_button_color_default:active{
    background-color: var(--btn-default-bg);
    border-color: var(--btn-default-border);
    color: var(--btn-default-text);
}


a.lhl_button.lhl_button_color_default.lhl_button_type_outline{
    background-color: transparent;
    border-color: var(--btn-default);
    color: var(--btn-default-bg);
}
a.lhl_button.lhl_button_color_default.lhl_button_type_outline:hover{
    background-color: var(--btn-default-h-bg);
    border-color: var(--btn-default-h);
    color: var(--btn-default-h-text);
}
a.lhl_button.lhl_button_color_default.lhl_button_type_outline:focus,
a.lhl_button.lhl_button_color_default.lhl_button_type_outline:active{
    background-color: var(--btn-default-bg);
    border-color: var(--btn-default-border);
    color: var(--btn-default-text);
}

/**
    Primary Button
*/

a.lhl_button.lhl_button_color_primary{
    background-color: var(--btn-primary-bg);
    border-color: var(--btn-primary-bg);
    color: var(--btn-primary-text);
}
a.lhl_button.lhl_button_color_primary:hover{
    background-color: var(--btn-primary-h-bg);
    border-color: var(--btn-primary-h-bg);
    color: var(--btn-primary-h-text);
}
a.lhl_button.lhl_button_color_primary:focus,
a.lhl_button.lhl_button_color_primary:active{
    background-color: var(--btn-primary-bg);
    border-color: var(--btn-primary-border);
    color: var(--btn-primary-text);
}

a.lhl_button.lhl_button_color_primary.lhl_button_type_outline{
    background-color: transparent;
    border-color: var(--btn-primary-bg);
    color: var(--btn-primary-bg);
}
a.lhl_button.lhl_button_color_primary.lhl_button_type_outline:hover{
    background-color: var(--btn-primary-h-bg);
    border-color: var(--btn-primary-h-bg);
    color: var(--btn-primary-h-text);
}
a.lhl_button.lhl_button_color_primary.lhl_button_type_outline:focus,
a.lhl_button.lhl_button_color_primary.lhl_button_type_outline:active{
    background-color: var(--btn-primary-bg);
    border-color: var(--btn-primary-border);
    color: var(--btn-primary-text);
}


/**
    Secondary Button
*/

a.lhl_button.lhl_button_color_secondary{
    background-color: var(--btn-secondary-bg);
    border-color: var(--btn-secondary);
    color: var(--btn-secondary-text);
}
a.lhl_button.lhl_button_color_secondary:hover{
    background-color: var(--btn-secondary-h-bg);
    border-color: var(--btn-secondary-h);
    color: var(--btn-secondary-h-text);
}
a.lhl_button.lhl_button_color_secondary:focus,
a.lhl_button.lhl_button_color_secondary:active{
    background-color: var(--btn-secondary-bg);
    border-color: var(--btn-secondary-border);
    color: var(--btn-secondary-text);
}


a.lhl_button.lhl_button_color_secondary.lhl_button_type_outline{
    background-color: transparent;
    border-color: var(--btn-secondary-bg);
    color: var(--btn-secondary-bg);
}
a.lhl_button.lhl_button_color_secondary.lhl_button_type_outline:hover{
    background-color: var(--btn-secondary-h-bg);
    border-color: var(--btn-secondary-h-bg);
    color: var(--btn-secondary-h-text);
}
a.lhl_button.lhl_button_color_secondary.lhl_button_type_outline:focus,
a.lhl_button.lhl_button_color_secondary.lhl_button_type_outline:active{
    background-color: var(--btn-secondary-bg);
    border-color: var(--btn-secondary-border);
    color: var(--btn-secondary-text);
}


/**
    Light Button
*/
a.lhl_button.lhl_button_color_light{
    background-color: var(--btn-light-bg);
    border-color: var(--btn-light);
    color: var(--btn-light-text);
}
a.lhl_button.lhl_button_color_light:hover{
    background-color: var(--btn-light-h-bg);
    border-color: var(--btn-light-h);
    color: var(--btn-light-h-text);
}
a.lhl_button.lhl_button_color_light:focus,
a.lhl_button.lhl_button_color_light:active{
    background-color: var(--btn-light-bg);
    border-color: var(--btn-light-border);
    color: var(--btn-light-text);
}


a.lhl_button.lhl_button_color_light.lhl_button_type_outline{
    background-color: transparent;
    border-color: var(--btn-light-bg);
    color: var(--btn-light-bg);
}
a.lhl_button.lhl_button_color_light.lhl_button_type_outline:hover{
    background-color: var(--btn-light-h-bg);
    border-color: var(--btn-light-h-bg);
    color: var(--btn-light-h-text);
}
a.lhl_button.lhl_button_color_light.lhl_button_type_outline:focus,
a.lhl_button.lhl_button_color_light.lhl_button_type_outline:active{
    background-color: var(--btn-light-bg);
    border-color: var(--btn-light-border);
    color: var(--btn-light-text);
}

/**
    Button Width
*/

.lhl_button_width_default{
    min-width: auto;
}
.lhl_button_width_wide{
    min-width: 300px;
}
.lhl_button_width_full_width{
    min-width: 100%;
}


/**
    Icons
*/

a.lhl_link_icon_parent{
    padding-right: 30px;
}
.lhl_link_icon{
    padding-left: 10px;
    position: absolute;
    transition: all .2s;
}
a:hover .lhl_link_icon{
    transform: translateX(5px);
}


/**
    Align
*/
.lhl_flex{
    display: flex;
}
.lhl_horizontal_center{
    margin: 0 auto;
}
.lhl_vertical_center{
    display: flex;
    align-items: center
}
.lhl_center_center{
    display: flex;
    align-items: center;
    justify-content: center;

}
.lhl_text_center{
    text-align: center;
}
.lhl_overflow_h{
    overflow: hidden;
}



/******************************************
    Cover
*******************************************/

.lhl-cover-container {
    /* 1 */
    overflow: hidden;
    /* 2 */
    position: relative;
}

.lhl-cover-img{
    max-width: none;
    position: absolute;
    left: 50%;
    top: 50%;
    --uk-position-translate-x: -50%;
    --uk-position-translate-y: -50%;
    transform: translate(var(--uk-position-translate-x),var(--uk-position-translate-y));
}

/*
 * Pixel
 * Useful for `overflow: auto`
 */
.lhl-height-xsmall {
    height: 75px;
}
.lhl-height-small {
    height: 150px;
}
.lhl-height-medium {
    height: 300px;
}
.lhl-height-large {
    height: 450px;
}
.lhl-height-xlarge {
    height: 650px;
}
.lhl-height-max-xsmall {
    max-height: 75px;
}
.lhl-height-max-small {
    max-height: 150px;
}
.lhl-height-max-medium {
    max-height: 300px;
}
.lhl-height-max-large {
    max-height: 450px;
}
.lhl-height-max-xlarge {
    max-height: 650px;
}


/******************************************
    Size modifier
*******************************************/

.lhl-container-xsmall {
    max-width: 750px;
} 
.lhl-container-small {
    max-width: 900px;
}
.lhl-container-large {
    max-width: 1400px;
}
.lhl-container-xlarge {
    max-width: 1600px;
}
.lhl-container-expand {
    max-width: none;
}

.lhl-container-this {
    max-width: 1262px;
}


/******************************************
    Positioning
*******************************************/
.lhl_po_absolute{
    position : absolute;
}
.lhl_po_relative{
    position : relative;
}

/******************************************
    Shadow
*******************************************/

.lhl_box_shadow_4{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.16);
}

.lhl_box_shadow_20{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.16);
}

.lhl_box_shadow_50{
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.16);
}

/******************************************
    Sizing
*******************************************/


/* Height */

.lhl_height_large{
    min-height: 600PX;
}

.admin_view .lhl_height_large,
.admin_view.lhl_height_large{
    min-height: 350PX;
}

.lhl_height_medium{
    min-height: 450PX;
}

.admin_view .lhl_height_medium,
.admin_view.lhl_height_medium{
    min-height: 280PX;
}

.lhl_card_space_none{
    padding-top: 0;
    padding-bottom: 0;
}



/******************************************
    Section Background Colors
*******************************************/

.section-background-t{
    background: var(--section-background-t);
}
.section-background-1{
    background: var(--section-background-1);
}
.section-background-2{
    background: var(--section-background-2);
}
.section-background-3{
    background: var(--section-background-3);
}
.section-background-4{
    background: var(--section-background-4);
}
.section-background-5{
    background: var(--section-background-5);
}
.section-background-6{
    background: var(--section-background-6);
}
.section-background-7{
    background: var(--section-background-7);
}
.section-background-8{
    background: var(--section-background-8);
}

/******************************************
    Pre-fit Spacing
*******************************************/

/* Small */

.lhl_card_space_small {
    padding-top: 40px;
    padding-bottom: 40px;
}

@media (min-width:640px) {
    .lhl_card_space_small {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.admin_view.lhl-component.lhl_card_space_small{
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Medium */

.lhl_card_space_medium {
    padding-top: 40px;
    padding-bottom: 40px;
}

@media (min-width:640px) {
    .lhl_card_space_medium {
        padding-top: 120px;
        padding-bottom: 110px;
    }
}

.admin_view.lhl-component.lhl_card_space_medium{
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Large */

.lhl_card_space_large {
    padding-top: 40px;
    padding-bottom: 40px;
}

@media (min-width:640px) {
    .lhl_card_space_large {
        padding-top: 160px;
        padding-bottom: 150px;
    }
}

.admin_view.lhl-component.lhl_card_space_large{
    padding-top: 80px;
    padding-bottom: 80px;
}


/******************************************
    Spacing
*******************************************/

/* Padding */

.lhl_p_0{
    padding: 0;
}

.lhl_p_20{
    padding: 20px;
}

.lhl_p_40{
    padding: 40px;
}

.lhl_p_60{
    padding: 60px;
}

.lhl_p_80{
    padding: 80px;
}

/* Admin reduce huge paddings*/

.admin_view.lhl_p_80,
.admin_view .lhl_p_80{
    padding: 60px;
}

.lhl_p_120{
    padding: 120px;
}
.admin_view.lhl_p_120,
.admin_view .lhl_p_120{
    padding: 60px;
}



/**
    Padding
*/

.lhl_pb_0{
    padding-bottom: 0;
}
.lhl_pb_10{
    padding-bottom: 10px;
}
.lhl_pb_15{
    padding-bottom: 15px;
}

.lhl_pb_20{
    padding-bottom: 20px;
}
.lhl_pb_40{
    padding-bottom: 40px;
}
.lhl_pb_60{
    padding-bottom: 60px;
}
.lhl_pb_80{
    padding-bottom: 80px;
}
.lhl_pb_120{
    padding-bottom: 120px;
}
.lhl_pt_0{
    padding-top: 0;
}
.lhl_pt_20{
    padding-top: 20px;
}
.lhl_pt_40{
    padding-top: 40px;
}
.lhl_pt_60{
    padding-top: 60px;
}
.lhl_pt_80{
    padding-top: 80px;
}
.lhl_pt_120{
    padding-top: 120px;
}
.lhl_ptb_0{
    padding-top: 0;
    padding-bottom: 0;
}
.lhl_ptb_20{
    padding-top: 20px;
    padding-bottom: 20px;
}
.lhl_ptb_40{
    padding-top: 40px;
    padding-bottom: 40px;
}
.lhl_ptb_60{
    padding-top: 60px;
    padding-bottom: 60px;
}
.lhl_ptb_80{
    padding-top: 80px;
    padding-bottom: 80px;
}
.lhl_ptb_120{
    padding-top: 120px;
    padding-bottom: 120px;
}
.lhl_plr_0{
    padding-left: 0;
    padding-right: 0;
}
.lhl_plr_20{
    padding-left: 20px;
    padding-right: 20px;
}
.lhl_plr_40{
    padding-left: 40px;
    padding-right: 40px;
}
.lhl_plr_60{
    padding-left: 60px;
    padding-right: 60px;
}
.lhl_plr_80{
    padding-left: 80px;
    padding-right: 80px;
}
.lhl_plr_120{
    padding-left: 120px;
    padding-right: 120px;
}



/* Padding*/


@media (min-width:640px){
    .lhl_p_0_\@s{
        padding: 0;
    }
}
@media (min-width:960px){
    .lhl_p_0_\@m{
            padding: 0;
    }
}
@media (min-width:960px){
    .lhl_p_0_\@l{
            padding: 0;
    }
}



@media (min-width:640px){
    .lhl_p_20_\@s{
        padding: 20px;
    }
}
@media (min-width:960px){
    .lhl_p_20_\@m{
            padding: 20px;
    }
}
@media (min-width:1200px){
    .lhl_p_20_\@l{
            padding: 20px;
    }
}



@media (min-width:640px){
    .lhl_p_40_\@s{
        padding: 40px;
    }
}
@media (min-width:960px){
    .lhl_p_40_\@m{
            padding: 40px;
    }
}
@media (min-width:1200px){
    .lhl_p_40_\@l{
            padding: 40px;
    }
}



@media (min-width:640px){
    .lhl_p_60_\@s{
        padding: 60px;
    }
}
@media (min-width:960px){
    .lhl_p_60_\@m{
            padding: 60px;
    }
}
@media (min-width:1200px){
    .lhl_p_60_\@l{
            padding: 60px;
    }
}



@media (min-width:640px){
    .lhl_p_80_\@s{
        padding: 80px;
    }
}
@media (min-width:960px){
    .lhl_p_80_\@m{
            padding: 80px;
    }
}
@media (min-width:1200px){
    .lhl_p_80_\@l{
            padding: 80px;
    }
}



@media (min-width:640px){
    .lhl_p_120_\@s{
        padding: 120px;
    }
}
@media (min-width:960px){
    .lhl_p_120_\@m{
            padding: 120px;
    }
}
@media (min-width:1200px){
    .lhl_p_120_\@l{
            padding: 120px;
    }
}




/* Padding Bottom*/




@media (min-width:640px){
    .lhl_pb_0_\@s{
        padding-bottom: 0;
    }
}
@media (min-width:960px){
    .lhl_pb_0_\@m{
            padding-bottom: 0;
    }
}
@media (min-width:960px){
    .lhl_pb_0_\@l{
            padding-bottom: 0;
    }
}



@media (min-width:640px){
    .lhl_pb_20_\@s{
        padding-bottom: 20px;
    }
}
@media (min-width:960px){
    .lhl_pb_20_\@m{
            padding-bottom: 20px;
    }
}
@media (min-width:1200px){
    .lhl_pb_20_\@l{
            padding-bottom: 20px;
    }
}



@media (min-width:640px){
    .lhl_pb_40_\@s{
        padding-bottom: 40px;
    }
}
@media (min-width:960px){
    .lhl_pb_40_\@m{
            padding-bottom: 40px;
    }
}
@media (min-width:1200px){
    .lhl_pb_40_\@l{
            padding-bottom: 40px;
    }
}



@media (min-width:640px){
    .lhl_pb_60_\@s{
        padding-bottom: 60px;
    }
}
@media (min-width:960px){
    .lhl_pb_60_\@m{
            padding-bottom: 60px;
    }
}
@media (min-width:1200px){
    .lhl_pb_60_\@l{
            padding-bottom: 60px;
    }
}



@media (min-width:640px){
    .lhl_pb_80_\@s{
        padding-bottom: 80px;
    }
}
@media (min-width:960px){
    .lhl_pb_80_\@m{
            padding-bottom: 80px;
    }
}
@media (min-width:1200px){
    .lhl_pb_80_\@l{
            padding-bottom: 80px;
    }
}



@media (min-width:640px){
    .lhl_pb_120_\@s{
        padding-bottom: 120px;
    }
}
@media (min-width:960px){
    .lhl_pb_120_\@m{
            padding-bottom: 120px;
    }
}
@media (min-width:1200px){
    .lhl_pb_120_\@l{
            padding-bottom: 120px;
    }
}




/* Padding Top*/




@media (min-width:640px){
    .lhl_pt_0_\@s{
        padding-top: 0;
    }
}
@media (min-width:960px){
    .lhl_pt_0_\@m{
            padding-top: 0;
    }
}
@media (min-width:1200px){
    .lhl_pt_0_\@l{
            padding-top: 0;
    }
}



@media (min-width:640px){
    .lhl_pt_20_\@s{
        padding-top: 20px;
    }
}
@media (min-width:960px){
    .lhl_pt_20_\@m{
            padding-top: 20px;
    }
}
@media (min-width:1200px){
    .lhl_pt_20_\@l{
            padding-top: 20px;
    }
}



@media (min-width:640px){
    .lhl_pt_40_\@s{
        padding-top: 40px;
    }
}
@media (min-width:960px){
    .lhl_pt_40_\@m{
            padding-top: 40px;
    }
}
@media (min-width:1200px){
    .lhl_pt_40_\@l{
            padding-top: 40px;
    }
}



@media (min-width:640px){
    .lhl_pt_60_\@s{
        padding-top: 60px;
    }
}
@media (min-width:960px){
    .lhl_pt_60_\@m{
            padding-top: 60px;
    }
}
@media (min-width:1200px){
    .lhl_pt_60_\@l{
            padding-top: 60px;
    }
}



@media (min-width:640px){
    .lhl_pt_80_\@s{
        padding-top: 80px;
    }
}
@media (min-width:960px){
    .lhl_pt_80_\@m{
            padding-top: 80px;
    }
}
@media (min-width:1200px){
    .lhl_pt_80_\@l{
            padding-top: 80px;
    }
}



@media (min-width:640px){
    .lhl_pt_120_\@s{
        padding-top: 120px;
    }
}
@media (min-width:960px){
    .lhl_pt_120_\@m{
            padding-top: 120px;
    }
}
@media (min-width:1200px){
    .lhl_pt_120_\@l{
            padding-top: 120px;
    }
}



/* Padding Top-Bottom*/


@media (min-width:640px){
    .lhl_ptb_0_\@s{
        padding-top: 0;
        padding-bottom: 0;
    }
}
@media (min-width:960px){
    .lhl_ptb_0_\@m{
            padding-top: 0;
            padding-bottom: 0;
    }
}
@media (min-width:1200px){
    .lhl_ptb_0_\@l{
            padding-top: 0;
            padding-bottom: 0;
    }
}



@media (min-width:640px){
    .lhl_ptb_20_\@s{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
@media (min-width:960px){
    .lhl_ptb_20_\@m{
            padding-top: 20px;
            padding-bottom: 20px;
    }
}
@media (min-width:1200px){
    .lhl_ptb_20_\@l{
            padding-top: 20px;
            padding-bottom: 20px;
    }
}



@media (min-width:640px){
    .lhl_ptb_40_\@s{
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
@media (min-width:960px){
    .lhl_ptb_40_\@m{
            padding-top: 40px;
            padding-bottom: 40px;
    }
}
@media (min-width:1200px){
    .lhl_ptb_40_\@l{
            padding-top: 40px;
            padding-bottom: 40px;
    }
}



@media (min-width:640px){
    .lhl_ptb_60_\@s{
        padding-top: 60px;
        padding-bottom: 60px;
    }
}
@media (min-width:960px){
    .lhl_ptb_60_\@m{
            padding-top: 60px;
            padding-bottom: 60px;
    }
}
@media (min-width:1200px){
    .lhl_ptb_60_\@l{
            padding-top: 60px;
            padding-bottom: 60px;
    }
}



@media (min-width:640px){
    .lhl_ptb_80_\@s{
        padding-top: 80px;
        padding-bottom: 80px;
    }
}
@media (min-width:960px){
    .lhl_ptb_80_\@m{
            padding-top: 80px;
            padding-bottom: 80px;
    }
}
@media (min-width:1200px){
    .lhl_ptb_80_\@l{
            padding-top: 80px;
            padding-bottom: 80px;
    }
}



@media (min-width:640px){
    .lhl_ptb_120_\@s{
        padding-top: 120px;
        padding-bottom: 120px;
    }
}
@media (min-width:960px){
    .lhl_ptb_120_\@m{
            padding-top: 120px;
            padding-bottom: 120px;
    }
}
@media (min-width:1200px){
    .lhl_ptb_120_\@l{
            padding-top: 120px;
            padding-bottom: 120px;
    }
}




/* Padding Left Right*/


@media (min-width:640px){
    .lhl_plr_0_\@s{
        padding-left: 0;
        padding-right: 0;
    }
}
@media (min-width:960px){
    .lhl_plr_0_\@m{
        padding-left: 0;
        padding-right: 0;
    }
}
@media (min-width:1200px){
    .lhl_plr_0_\@l{
        padding-left: 0;
        padding-right: 0;
    }
}



@media (min-width:640px){
    .lhl_plr_20_\@s{
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (min-width:960px){
    .lhl_plr_20_\@m{
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (min-width:1200px){
    .lhl_plr_20_\@l{
        padding-left: 20px;
        padding-right: 20px;
    }
}


@media (min-width:640px){
    .lhl_plr_40_\@s{
        padding-left: 40px;
        padding-right: 40px;
    }
}
@media (min-width:960px){
    .lhl_plr_40_\@m{
        padding-left: 40px;
        padding-right: 40px;
    }
}
@media (min-width:1200px){
    .lhl_plr_40_\@l{
        padding-left: 40px;
        padding-right: 40px;
    }
}


@media (min-width:640px){
    .lhl_plr_60_\@s{
        padding-left: 60px;
        padding-right: 60px;
    }
}
@media (min-width:960px){
    .lhl_plr_60_\@m{
        padding-left: 60px;
        padding-right: 60px;
    }
}
@media (min-width:1200px){
    .lhl_plr_60_\@l{
        padding-left: 60px;
        padding-right: 60px;
    }
}


@media (min-width:640px){
    .lhl_plr_80_\@s{
        padding-left: 80px;
        padding-right: 80px;
    }
}
@media (min-width:960px){
    .lhl_plr_80_\@m{
        padding-left: 80px;
        padding-right: 80px;
    }
}
@media (min-width:1200px){
    .lhl_plr_80_\@l{
        padding-left: 80px;
        padding-right: 80px;
    }
}


@media (min-width:640px){
    .lhl_plr_120_\@s{
        padding-left: 120px;
        padding-right: 120px;
    }
}
@media (min-width:960px){
    .lhl_plr_120_\@m{
        padding-left: 120px;
        padding-right: 120px;
    }
}
@media (min-width:1200px){
    .lhl_plr_120_\@l{
        padding-left: 120px;
        padding-right: 120px;
    }
}



/******************************************
    Padding Force Values
*******************************************/

/* .lhl_pt_0_force{
    padding-top: 0 !important;
} */

/******************************************
    Grid
*******************************************/

.lhl-component-inner{
    width: 100%;
}

.lhl_grid{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-left: -40px;
}


.lhl_grid_null{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-left: 0px;
}


@media (max-width:640px) {
    .lhl_grid{
        margin-left: 0px !important;
    }
}


[class*="lhl_width"] {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
}


.lhl_grid_col{
    min-width: 1px;
    padding-left: 40px;
}
.lhl_grid_col_null{
    min-width: 1px;
    padding-left: 0px;
}


@media (max-width:960px) {
    .lhl_grid_col{
        padding-left: 0px !important;
    }
}



/**
    Grid columns
*/

.lhl_grid_reverse{
    flex-direction: row-reverse;
}

.lhl_width_1_2 {
    width:50%
}
.lhl_width_1_3 {
    width:calc(100% * 1 / 3.001)
}
.lhl_width_2_3 {
    width:calc(100% * 2 / 3.001)
}
.lhl_width_1_4 {
    width:25%
}
.lhl_width_3_4 {
    width:75%
}
.lhl_width_1_5 {
    width:20%
}
.lhl_width_2_5 {
    width:40%
}
.lhl_width_3_5 {
    width:60%
}
.lhl_width_4_5 {
    width:80%
}
.lhl_width_1_6 {
    width:calc(100% * 1 / 6.001)
}
.lhl_width_5_6 {
    width:calc(100% * 5 / 6.001)
}
.lhl_width_small {
    width:150px
}
.lhl_width_medium {
    width:300px
}
.lhl_width_large {
    width:450px
}
.lhl_width_xlarge {
    width:600px
}
.lhl_width_2xlarge {
    width:750px
}
.lhl_width_auto {
    width:auto
}
.lhl_width_expand {
    flex:1;
    min-width:1px
}

@media (min-width:640px) {

    .lhl_width_1_1\@s {
     width:100%
    }
    .lhl_width_1_2\@s {
     width:50%
    }
    .lhl_width_1_3\@s {
     width:calc(100% * 1 / 3.001)
    }
    .lhl_width_2_3\@s {
     width:calc(100% * 2 / 3.001)
    }
    .lhl_width_1_4\@s {
     width:25%
    }
    .lhl_width_3_4\@s {
     width:75%
    }
    .lhl_width_1_5\@s {
     width:20%
    }
    .lhl_width_2_5\@s {
     width:40%
    }
    .lhl_width_3_5\@s {
     width:60%
    }
    .lhl_width_4_5\@s {
     width:80%
    }
    .lhl_width_1_6\@s {
     width:calc(100% * 1 / 6.001)
    }
    .lhl_width_5_6\@s {
     width:calc(100% * 5 / 6.001)
    }
    .lhl_width_small\@s {
     width:150px
    }
    .lhl_width_medium\@s {
     width:300px
    }
    .lhl_width_large\@s {
     width:450px
    }
    .lhl_width_xlarge\@s {
     width:600px
    }
    .lhl_width_2xlarge\@s {
     width:750px
    }
    .lhl_width_auto\@s {
     width:auto
    }
    .lhl_width_expand\@s {
     flex:1;
     min-width:1px
    }
}

@media (min-width:960px) {
    .lhl_width_1_1\@m {
     width:100%
    }
    .lhl_width_1_2\@m {
     width:50%
    }
    .lhl_width_1_3\@m {
     width:calc(100% * 1 / 3.001)
    }
    .lhl_width_2_3\@m {
     width:calc(100% * 2 / 3.001)
    }
    .lhl_width_1_4\@m {
     width:25%
    }
    .lhl_width_3_4\@m {
     width:75%
    }
    .lhl_width_1_5\@m {
     width:20%
    }
    .lhl_width_2_5\@m {
     width:40%
    }
    .lhl_width_3_5\@m {
     width:60%
    }
    .lhl_width_4_5\@m {
     width:80%
    }
    .lhl_width_1_6\@m {
     width:calc(100% * 1 / 6.001)
    }
    .lhl_width_5_6\@m {
     width:calc(100% * 5 / 6.001)
    }
    .lhl_width_small\@m {
     width:150px
    }
    .lhl_width_medium\@m {
     width:300px
    }
    .lhl_width_large\@m {
     width:450px
    }
    .lhl_width_xlarge\@m {
     width:600px
    }
    .lhl_width_2xlarge\@m {
     width:750px
    }
    .lhl_width_auto\@m {
     width:auto
    }
    .lhl_width_expand\@m {
     flex:1;
     min-width:1px
    }
}

@media (min-width:1200px) {
    .lhl_width_1_1\@l {
     width:100%
    }
    .lhl_width_1_2\@l {
     width:50%
    }
    .lhl_width_1_3\@l {
     width:calc(100% * 1 / 3.001)
    }
    .lhl_width_2_3\@l {
     width:calc(100% * 2 / 3.001)
    }
    .lhl_width_1_4\@l {
     width:25%
    }
    .lhl_width_3_4\@l {
     width:75%
    }
    .lhl_width_1_5\@l {
     width:20%
    }
    .lhl_width_2_5\@l {
     width:40%
    }
    .lhl_width_3_5\@l {
     width:60%
    }
    .lhl_width_4_5\@l {
     width:80%
    }
    .lhl_width_1_6\@l {
     width:calc(100% * 1 / 6.001)
    }
    .lhl_width_5_6\@l {
     width:calc(100% * 5 / 6.001)
    }
    .lhl_width_small\@l {
     width:150px
    }
    .lhl_width_medium\@l {
     width:300px
    }
    .lhl_width_large\@l {
     width:450px
    }
    .lhl_width_xlarge\@l {
     width:600px
    }
    .lhl_width_2xlarge\@l {
     width:750px
    }
    .lhl_width_auto\@l {
     width:auto
    }
    .lhl_width_expand\@l {
     flex:1;
     min-width:1px
    }
}

@media (min-width:1600px) {
    .lhl_width_1_1\@xl {
     width:100%
    }
    .lhl_width_1_2\@xl {
     width:50%
    }
    .lhl_width_1_3\@xl {
     width:calc(100% * 1 / 3.001)
    }
    .lhl_width_2_3\@xl {
     width:calc(100% * 2 / 3.001)
    }
    .lhl_width_1_4\@xl {
     width:25%
    }
    .lhl_width_3_4\@xl {
     width:75%
    }
    .lhl_width_1_5\@xl {
     width:20%
    }
    .lhl_width_2_5\@xl {
     width:40%
    }
    .lhl_width_3_5\@xl {
     width:60%
    }
    .lhl_width_4_5\@xl {
     width:80%
    }
    .lhl_width_1_6\@xl {
     width:calc(100% * 1 / 6.001)
    }
    .lhl_width_5_6\@xl {
     width:calc(100% * 5 / 6.001)
    }
    .lhl_width_small\@xl {
     width:150px
    }
    .lhl_width_medium\@xl {
     width:300px
    }
    .lhl_width_large\@xl {
     width:450px
    }
    .lhl_width_xlarge\@xl {
     width:600px
    }
    .lhl_width_2xlarge\@xl {
     width:750px
    }
    .lhl_width_auto\@xl {
     width:auto
    }
    .lhl_width_expand\@xl {
     flex:1;
     min-width:1px
    }
}


/******************************************
    Offset Classes
*******************************************/
/*
.lhl_offset_top_m_0{
    padding-top: 0 !important;
    margin-bottom: 0px;
}
.lhl_offset_top_m_0 > div{
    transform: translateY(0px);
} */

.lhl_offset_top_m_20{
    padding-top: 0 !important;
    margin-bottom: -20px;
}
.lhl_offset_top_m_20 > div{
    transform: translateY(-20px);
}

.lhl_offset_top_m_40{
    padding-top: 0 !important;
    margin-bottom: -40px;
}
.lhl_offset_top_m_40 > div{
    transform: translateY(-40px);
}

.lhl_offset_top_m_60{
    padding-top: 0 !important;
    margin-bottom: -60px;
}
.lhl_offset_top_m_60 > div{
    transform: translateY(-60px);
}

.lhl_offset_top_m_70{
    padding-top: 0 !important;
    margin-bottom: -70px;
}
.lhl_offset_top_m_70 > div{
    transform: translateY(-70px);
}

.lhl_offset_top_m_80{
    padding-top: 0 !important;
    margin-bottom: -80px;
}
.lhl_offset_top_m_80 > div{
    transform: translateY(-80px);
}

.lhl_offset_top_m_90{
    padding-top: 0 !important;
    margin-bottom: -90px;
}
.lhl_offset_top_m_90 > div{
    transform: translateY(-90px);
}

.lhl_offset_top_m_100{
    padding-top: 0 !important;
    margin-bottom: -100px;
}
.lhl_offset_top_m_100 > div{
    transform: translateY(-100px);
}

.lhl_offset_top_m_110{
    padding-top: 0 !important;
    margin-bottom: -110px;
}
.lhl_offset_top_m_110 > div{
    transform: translateY(-110px);
}

.lhl_offset_top_m_120{
    padding-top: 0 !important;
    margin-bottom: -120px;
}
.lhl_offset_top_m_120 > div{
    transform: translateY(-120px);
}

.lhl_offset_top_p_0{
    transform: translateY(0px);
}
.lhl_offset_top_p_20{
    transform: translateY(20px);
}
.lhl_offset_top_p_40{
    transform: translateY(40px);
}
.lhl_offset_top_p_60{
    transform: translateY(60px);
}
.lhl_offset_top_p_70{
    transform: translateY(70px);
}
.lhl_offset_top_p_80{
    transform: translateY(80px);
}
.lhl_offset_top_p_90{
    transform: translateY(90px);
}
.lhl_offset_top_p_100{
    transform: translateY(100px);
}
.lhl_offset_top_p_110{
    transform: translateY(110px);
}
.lhl_offset_top_p_120{
    transform: translateY(120px);
}

/******************************************
    M Queries
*******************************************/

@media (min-width:640px) {
}
@media (min-width:960px) {
}
@media (min-width:1200px) {
}
@media (min-width:1600px) {
}

/******************************************
    Spacing
*******************************************/

.lhl_spacing_00 {
    padding: 0px;
}
.lhl_spacing_l_00 {
    padding-left: 0px;
}
.lhl_spacing_r_00 {
    padding-right: 0px;
}
.lhl_spacing_t_00 {
    padding-top: 0px;
}
.lhl_spacing_b_00 {
    padding-bottom: 0px;
}
.lhl_spacing_tb_00 {
    padding-top: 0px;
    padding-bottom: 0px;
}


.lhl_spacing_01 {
    padding: 2px;
}
.lhl_spacing_l_01 {
    padding-left: 2px;
}
.lhl_spacing_r_01 {
    padding-right: 2px;
}
.lhl_spacing_t_01 {
    padding-top: 2px;
}
.lhl_spacing_b_01 {
    padding-bottom: 2px;
}
.lhl_spacing_tb_01 {
    padding-top: 2px;
    padding-bottom: 2px;
}


.lhl_spacing_02 {
    padding: 4px;
}
.lhl_spacing_l_02 {
    padding-left: 4px;
}
.lhl_spacing_r_02 {
    padding-right: 4px;
}
.lhl_spacing_t_02 {
    padding-top: 4px;
}
.lhl_spacing_b_02 {
    padding-bottom: 4px;
}
.lhl_spacing_tb_02 {
    padding-top: 4px;
    padding-bottom: 4px;
}


.lhl_spacing_03 {
    padding: 8px;
}
.lhl_spacing_l_03 {
    padding-left: 8px;
}
.lhl_spacing_r_03 {
    padding-right: 8px;
}
.lhl_spacing_t_03 {
    padding-top: 8px;
}
.lhl_spacing_b_03 {
    padding-bottom: 8px;
}
.lhl_spacing_tb_03 {
    padding-top: 8px;
    padding-bottom: 8px;
}


.lhl_spacing_04 {
    padding: 16px;
}
.lhl_spacing_l_04 {
    padding-left: 16px;
}
.lhl_spacing_r_04 {
    padding-right: 16px;
}
.lhl_spacing_t_04 {
    padding-top: 16px;
}
.lhl_spacing_b_04 {
    padding-bottom: 16px;
}
.lhl_spacing_tb_04 {
    padding-top: 16px;
    padding-bottom: 16px;
}


.lhl_spacing_05 {
    padding: 24px;
}
.lhl_spacing_l_05 {
    padding-left: 24px;
}
.lhl_spacing_r_05 {
    padding-right: 24px;
}
.lhl_spacing_t_05 {
    padding-top: 24px;
}
.lhl_spacing_b_05 {
    padding-bottom: 24px;
}
.lhl_spacing_tb_05 {
    padding-top: 24px;
    padding-bottom: 24px;
}


.lhl_spacing_06 {
    padding: 32px;
}
.lhl_spacing_l_06 {
    padding-left: 32px;
}
.lhl_spacing_r_06 {
    padding-right: 32px;
}
.lhl_spacing_t_06 {
    padding-top: 32px;
}
.lhl_spacing_b_06 {
    padding-bottom: 32px;
}
.lhl_spacing_tb_06 {
    padding-top: 32px;
    padding-bottom: 32px;
}


.lhl_spacing_07 {
    padding: 40px;
}
.lhl_spacing_l_07 {
    padding-left: 40px;
}
.lhl_spacing_r_07 {
    padding-right: 40px;
}
.lhl_spacing_t_07 {
    padding-top: 40px;
}
.lhl_spacing_b_07 {
    padding-bottom: 40px;
}
.lhl_spacing_tb_07 {
    padding-top: 40px;
    padding-bottom: 40px;
}


.lhl_spacing_08 {
    padding: 48px;
}
.lhl_spacing_l_08 {
    padding-left: 48px;
}
.lhl_spacing_r_08 {
    padding-right: 48px;
}
.lhl_spacing_t_08 {
    padding-top: 48px;
}
.lhl_spacing_b_08 {
    padding-bottom: 48px;
}
.lhl_spacing_tb_08 {
    padding-top: 48px;
    padding-bottom: 48px;
}


.lhl_spacing_09 {
    padding: 64px;
}
.lhl_spacing_l_09 {
    padding-left: 64px;
}
.lhl_spacing_r_09 {
    padding-right: 64px;
}
.lhl_spacing_t_09 {
    padding-top: 64px;
}
.lhl_spacing_b_09 {
    padding-bottom: 64px;
}
.lhl_spacing_tb_09 {
    padding-top: 64px;
    padding-bottom: 64px;
}


.lhl_spacing_10 {
    padding: 80px;
}
.lhl_spacing_l_10 {
    padding-left: 80px;
}
.lhl_spacing_r_10 {
    padding-right: 80px;
}
.lhl_spacing_t_10 {
    padding-top: 80px;
}
.lhl_spacing_b_10 {
    padding-bottom: 80px;
}
.lhl_spacing_tb_10 {
    padding-top: 80px;
    padding-bottom: 80px;
}


.lhl_spacing_11 {
    padding: 96px;
}
.lhl_spacing_l_11 {
    padding-left: 96px;
}
.lhl_spacing_r_11 {
    padding-right: 96px;
}
.lhl_spacing_t_11 {
    padding-top: 96px;
}
.lhl_spacing_b_11 {
    padding-bottom: 96px;
}
.lhl_spacing_tb_11 {
    padding-top: 96px;
    padding-bottom: 96px;
}


.lhl_spacing_12 {
    padding: 160px;
}
.lhl_spacing_l_12 {
    padding-left: 160px;
}
.lhl_spacing_r_12 {
    padding-right: 160px;
}
.lhl_spacing_t_12 {
    padding-top: 160px;
}
.lhl_spacing_b_12 {
    padding-bottom: 160px;
}
.lhl_spacing_tb_12 {
    padding-top: 160px;
    padding-bottom: 160px;
}

/**
*/